body{
    font-family: 'Roboto', sans-serif;
}

/* common style */
.primary-button{
    background-color:rgb(114, 29, 33); 
    padding:5px 12px ;
    color: white;
    font-size: 8px;
    display: flex;
     align-items: center; 
    gap: 5px;
    border: none;
}
/* navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 35px;
    font-size: 10px;
    font-weight: 600;
    margin-top: 25px;
    
}
.logo{
    font-size: 25px;
    font-weight: 900;
    color: rgb(114, 15, 20);
}
.lock-icon{
    width:15% ;
}
/* banner */
.vila-img{
    width: 75%;
    position: relative;
    left: 285px;
    top: 30px;

}
.banner-box{
    background-color:rgba(122, 11, 17, 0.78); 
    padding: 0px 20px 25px 20px; 
    width: 30%;
}
.banner-text{
    color: white;
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 0;
    
}

.headline-text{
    color: white;
    font-size: 50px;
    margin: 0;
}

.banner-box-items{
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.banner-logo{
    width: 8px;
}
.banner{
    position: relative;

}
.banner-box{
    position: absolute;
    bottom: 80px;
    left: 100px;
}