body{
    font-family: 'Roboto', sans-serif;
}

/* common style */
.primary-button{
    background-color:rgb(114, 29, 33); 
    padding:5px 12px ;
    color: white;
    font-size: 8px;
    display: flex;
     align-items: center; 
    gap: 5px;
    border: none;
}
/* navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 35px;
    font-size: 10px;
    font-weight: 600;
    margin-top: 25px;
    
}
.logo{
    font-size: 25px;
    font-weight: 900;
    color: rgb(114, 15, 20);
}
.lock-icon{
    width:15% ;
}
/* banner */
.vila-img{
    width: 75%;
    position: relative;
    left: 285px;
    top: 30px;

}
.banner-box{
    background-color:rgba(122, 11, 17, 0.78); 
    padding: 0px 20px 25px 20px; 
    width: 30%;
}
.banner-text{
    color: white;
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 0;
    
}

.headline-text{
    color: white;
    font-size: 50px;
    margin: 0;
}

.banner-box-items{
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.banner-logo{
    width: 8px;
}
.banner{
    position: relative;

}
.banner-box{
    position: absolute;
    bottom: 80px;
    left: 100px;
}

/* about */
.line{
    display: flex;
}

.border{
    text-align:center ;
    padding: 10px 15px;
    width:15%;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color:white;
    box-shadow: -12px 11px 91px -30px rgba(0,0,0,0.75);
-webkit-box-shadow: -12px 11px 91px -30px rgba(0,0,0,0.75);
-moz-box-shadow: -12px 11px 91px -30px rgba(0,0,0,0.75);

}
.about-header{
    margin: 0;
    font-size: 12px;
}

.about-text{
    margin-top: 0;
    font-size:12px ;

}

.about-section{
    display: flex;
    gap: 110px;
}
.left-side{
    width: 50%;
    position: relative;
    left:350px;
}
.right-side{
    width: 50%;
}
.right-side-text{
    width: 80%;
    margin-top: 5px;
    font-size: 14px;
}

.right-side-headline{
    margin-top: 40px;
    margin-bottom: 0;
}
.active{
    color:rgb(114, 29, 33);
    
}